#homeBrowseLink {
    text-decoration: none;
    color: #007bff;
}

#homeBrowseButton:hover {
    background-color: #007bff;
    border-color: #007bff;
}

#homeBrowseButton:hover #homeBrowseLink {
    color: #fff;
}

.home {
    text-align: justify;
}

.btn-toolbar {
    justify-content: flex-end;
    margin-top: 15px;
}

.signup {
    margin-right: 15px;
    margin-left: 10px;
}

.card-title {
    text-align: center;
}

