#wrapper .navbar-expand-lg .navbar-collapse {
    justify-content: flex-start;
}

#wrapper .navbar-expand-sm .navbar-collapse {
    justify-content: flex-start;
}

#wrapper .navbar-expand-md .navbar-collapse {
    justify-content: flex-start;
}