.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  height: 100vh;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-container + .App {
  height: 100vh;
  overflow: hidden;
}

.end-notification {
  background:  transparent;
  /* position: absolute; */
  /* position: relative; */
  top: 0;
  /* right: 1em; */
  z-index: 1;
}

.end-notification .toast-header{
  color: rgb(80, 78, 189);
  background: rgb(205, 193, 255);
}

.end-notification .toast-body{
  color: rgb(80, 78, 189);
  background: rgba(205, 193, 255, 0.8);
}

.notification-container{
  position: relative;
  float: right;
}

html, body {
  height: 100%;
}