.auctions-outer-wrapper {
      height: 100%;
}

img.auction_image {
      max-width: 20rem;
      height: 15rem;
      object-fit: cover;
      border-radius: 0.5rem 0.5rem 0 0 ;
}

.auctions_container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 2rem;
}

.auction-card {
      width: 20rem;
      height: 25rem;
      margin: 2.5rem;
      border: transparent;
      border-radius: 0.5rem;
      background: #CDC1FF;
      -webkit-box-shadow: 0 8px 6px -6px #908e96;
      -moz-box-shadow: 0 8px 6px -6px #908e96;
            box-shadow: 0 8px 6px -6px #908e96;
      background-color: #e8e2ff;
}

.auction-card a {
      text-decoration: none;
}

.auction-card a:hover {
      border: transparent;
      border-radius: 0.5rem;
      -webkit-box-shadow: 5px 15px 8px 1px #908e96;
      -moz-box-shadow: 5px 15px 8px 1px #908e96;
      box-shadow: 5px 15px 8px 1px #908e96;
}

.auction-card .info {
      padding: 0.5rem;
      align-items: baseline;
      position: absolute;
      background-color: white;
      border-radius: 0.5rem 0 0 0.5rem ;
      width: 60%;
      height: 3rem;
      -webkit-box-shadow:0 8px 6px -6px #908e96;
      -moz-box-shadow:0 8px 6px -6px #908e96;
            box-shadow:0 8px 6px -6px #908e96;
      
}

.auction-card .card-img-overlay {
      top:55%;
      left: auto;
}

.auction-card .card-body {
      display: table;
      padding: 3rem 0 0 0;
      height: 10rem;
      width: 100%;
}

.auction-timer {
      display: flex;
}

.auction-timer h4 {
      font-size: 1.4rem;
      margin-right: 1rem;
      color: rgb(80, 78, 189);
}

.auction-timer .card-text {
      color: rgb(80, 78, 189);
      margin-left: 0.7rem;
      font-family: 'Open Sans', sans-serif;
      width: 100%;
      padding: 0.25em 0;
      background-color: whitesmoke;
}

.auction-timer .timer-inner-container {
      margin-left: 0.7rem;
}

.auction-card .card-title {
      text-align: start;
      font-size: 1.6rem;
      color: rgb(80, 78, 189);
      border-radius: 10px;
      padding: 0 1.25rem;
}

.auction-card p {
      color:rgb(80, 78, 189);
      font-size: 1.3rem;
      font-family: 'Open Sans', sans-serif;

}

.auction-card .timer-show {
      color:rgb(80, 78, 189);
      margin-left: 0.5rem;
      font-size: 1.5rem;
      font-family: 'Open Sans', sans-serif;
}

.auction-card .timer-letter {
      color:rgb(80, 78, 189);
      margin-left: 0.5rem;
      font-size: 1.3rem;
      font-family: 'Open Sans', sans-serif;
}

.auction-min-bid {
      font-size: 1.4rem;
      text-align: center;
      padding: 0.2em 0;
      background-color: whitesmoke;
}

@media (max-width: 480px) {

      .auction-container {
            margin-left: 25px;
      }

      .auction-card {
            margin-left: 1rem;
      }
}

@media (max-width: 414px) {
      .auction-card .info {
            width: 81%;
      }
}

@media (max-width: 375px) {
      .auction-card p {
            font-size: 1.2rem;
      }

      .auction-card .card-title {
            font-size: 1.3rem;
      } 
      
      .auction-min-bid {
            font-size: 1.3rem;
      }
}

@media (max-width: 320px) {
      .auction-card .info {
            width: 100%;
      }

      .auction-card p {
            font-size: 1.1rem;
      }

      .auction-card .card-title {
            font-size: 1.2rem;
      } 
      
      .auction-min-bid {
            font-size: 1.2rem;
      }
}

.auction-min-bid svg {
      color: #faf098;
}

.auction-card-name {
      font-family: lato;
}