.auction_image {
 max-width: 100%;
 height: auto;
}

.modal_image{
 max-width: 70%;
 height: auto;
}

.auctions_container{
 display: flex;
 justify-content: center;
 flex-wrap: wrap ;
}

.auction-card{
 width: 20rem;
 margin: 2rem;
}
