img.auction_image {
 max-width: 20rem;
 height: 15rem;
 object-fit: cover;
}

.auctions_container{
 display: flex;
 justify-content: center;
 flex-wrap: wrap ;
 width: 88%;
}

.auction-card{
 width: 20rem;
 margin: 2rem;
}
