
.background_img{
    width: 100%;
    min-height: 50%;
}


.background_img .card-img-overlay{
    height: 50%;
    
}

.btn-toolbar {
    justify-content: flex-end;
    margin-top: 15px;
}

.card .example .winner{
    background-color: red !important;
}
.card-title {
    color: #eee;
    text-align: center;
}

.card .howToContainer{
    position: relative;
    top: 20%;
    right:70%; 
    text-align: start;
}
.buttonContainer {
    justify-content: space-evenly;
    padding: 2rem 0 5rem 0;
}

.buttonContainer .signup{
    font-size: 2rem;
    margin: 0 2rem 0 2rem; 
    background-color: rgb(80, 78, 189);
    border-color: rgb(80, 78, 189);
    color: white;   
}

.buttonContainer .signup:hover {
    background-color: rgb(99, 98, 190);
    border-color: rgb(99, 98, 190);
}

.home {
    border: none;
    text-align: justify;
    min-height:30rem;
    background-color: rgba(230, 228, 235, 0.45);
}


.home .header-body{
    position: relative;
    top: 12rem;
    font-size: 5rem;
}

.home .header-body h3{
    color: #eee;
    font-size: 4rem;
}

.home .header-body h4{
    color: rgb(184, 183, 183);
    font-size: 2rem;
}

/* .home .header-body span{
    font-size: 3rem;
} */

#howToButton{
    font-size: 2rem;
}

#homeBrowseLink {
    text-decoration: none;
    color: white; 
    font-size: 2rem;
}

#homeBrowseButton {
    background-color: rgb(80, 78, 189);
    border-color: rgb(80, 78, 189);
    color: white;
}

#homeBrowseButton:hover {
    background-color: rgb(99, 98, 190);
    border-color: rgb(99, 98, 190);
}

#homeBrowseButton:hover #homeBrowseLink {
    
}

#howToButton{
    background-color: rgb(80, 78, 189);
    border-color: rgb(80, 78, 189);
    color: white;
}

#howToButton:hover {
    background-color: rgb(99, 98, 190);
    border-color: rgb(99, 98, 190);
}

.shade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.howToTitle{
    text-align: center;
    margin: 5rem;
    font-size: 3rem;
}

.howToTitle.more-bidly-info-title {
    font-size: 2.5rem;
}

.steps-container .step-titles {
    font-size: 2rem;
    padding: 1rem;
    color: black;
}

.steps-container.card-deck, .more-info-container {
    /* height: 10rem; */
    margin: 0 1em;
}
.title-logo{
    font-size: 10rem;
    position: absolute;
    text-align: left;
    
    
}


.card-text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.step-three-list {
    text-align: left;
}

.steps-container.card-deck .card-body, .card-deck .card-body, .auction-card {
    -webkit-box-shadow: -1px 10px 17px -4px rgb(109, 109, 109);
        -moz-box-shadow: -1px 10px 17px -4px rgb(109, 109, 109);
            box-shadow: -1px 10px 17px -4px rgb(109, 109, 109);
            /* -webkit-box-shadow: -1px 10px 17px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 10px 17px -4px rgba(0,0,0,0.75);
            box-shadow: -1px 10px 17px -4px rgba(0,0,0,0.75); */
}

.card-deck .step-titles {
    color: black;
}

.step-img {
    border-radius: 50%;
}

.step-img.step-img-1 {
    height: 210px;
}

.step-card-class {
    padding: 1em;
    position: relative;
    top: 2em;
}

.home-info-card {
    margin: 0 1em;
}

.home-info-faq {
    text-align: left;
}

.bidly-info-description {
    padding: 1em;
}

.faq {
    padding: 1em 3em;
}

.faq-qa {
    padding-bottom: 0.5em;
}

.faq-q {
    font-weight: bold;
}

.example .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body img {
    height: 210px;
}

@media (max-width: 1024px) {
    .title-logo {
        font-size: 9rem;
    }

    .home .header-body {
        font-size: 4rem;
    }

    .home .header-body {
        top: 10rem;
    }
}

@media (max-width: 480px) {
    .title-logo {
        font-size: 6rem;
    }

    .home .header-body h3 {
        font-size: 2rem;
    }

    .home .header-body {
        top: 7rem;
    }

    .background_img {
        height: 54vh;
    }

    .card .howToContainer {
        right: 50%;
    }
}

@media (max-width: 414px) {
    .title-logo {
        font-size: 4rem;
    }

    .home .header-body h3 {
        font-size: 1.8rem;
    }

    .home .header-body h4 {
        font-size: 1.8rem;
    }

    .home .header-body {
        top: 5rem;
    }

    .background_img {
        height: 66vh;
    }

    .card .howToContainer {
        right: 45%;
    }

    #howToButton {
        font-size: 1.8rem;
    }

    .howToContainer.btn-group-lg>.btn, .btn-lg {
        padding: .2rem 1rem;
    }

    .howToTitle.more-bidly-info-title {
        font-size: 2rem;
    }

    .howToTitle {
        margin: 2rem;
        font-size: 2.4rem;
    }

    .more-info-container .btn {
        padding: .1rem .1rem;
    }

    #homeBrowseLink {
        font-size: 1.5rem;
    }
}

@media (max-width: 375px) {
    .title-logo {
        font-size: 3rem;
    }

    .home .header-body h3 {
        font-size: 1.4rem;
    }

    .home .header-body h4 {
        font-size: 1.4rem;
    }

    .background_img {
        height: 72vh;
    }

    .home .header-body {
        top: 4rem;
    }

    #howToButton {
        font-size: 1.3rem;
    }

    .card .howToContainer {
        right: 55%;
    }

    .howToContainer.btn-group-lg>.btn, .btn-lg {
        padding: .2rem 1rem;
    }

    .howToTitle.more-bidly-info-title {
        font-size: 1.8rem;
    }

    .more-info-container .btn {
        padding: .1rem .1rem;
    }

    #homeBrowseLink {
        font-size: 1.5rem;
    }

    .howToTitle {
        margin: 1rem;
        font-size: 2rem;
    }

    .steps-container .step-titles {
        font-size: 1.8rem;
    }
}


@media (max-width: 360px) {
    .background_img {
        height: 75vh;
    }

    .howToTitle.more-bidly-info-title {
        font-size: 1.6rem;
    }

    .howToTitle {
        font-size: 1.6rem;
    }
}

@media (max-width: 320px) {
    .background_img {
        height: 85vh;
    }

    .card .howToContainer {
        right: 48%;
    }

    .home-info-card {
        margin: 0 0;
    }
}