#login-form-container{
    /* height: 50vmax; */
    min-height: 40rem;
}

.row{
    height: 100vm;
}

#login-img {
    background: url(../images/login.jpg) no-repeat center;
    background-size: cover;
}

.form-control {
    width: 100%;
    align-content: center;
    align-self: center;
}

.form-group{
    width: 100%;
    text-align: center;
}

#formBasicEmail{
    display: table;
    margin-left:auto; 
    margin-right:auto;
}

#formBasicPassword{
    display: table;
    margin-left:auto; 
    margin-right:auto;
}
#login-form{
    display:flex;
    justify-content: center;
    padding: 2em 0;
    height: 100vm;
    width: 100%;
}

.login-outer-container{
    height: 100vm;
}

#login-form-inner-container{
    min-height: 100vm;
    min-width: 100%;
    justify-content: flex-start;
}

.login-outer-container h2{
    font-size: 3rem;
    padding: 1rem;
}
