/* remove bootstrap default display none */
#modal {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 2em;
  z-index: 5;
  color: white;
  height: 100vh;
  width: 79vw;
}

.modal-container .nav-btn {
  z-index: 4;
  position: absolute;
  top: 50%;
}

.modal-container .nav-btn img{
  width: 500%;
  height: auto;
}

.modal_image{
  width: auto;
  max-height: 100%;
  object-fit: cover;
}

.auction-info {
  width: 33%;
}

.close-button {
  margin-left: 50%;
  transform: translateX(-50%);
}

.wrapper-flexbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  text-align: left;
  align-items: flex-end;
  margin-top: 25%;
  transform: translateY(-50%);
}