/* remove bootstrap default display none */
#modal {
  /* display: inline-block; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  /* padding: 2em; */
  z-index: 5;
  color: white;
  height: 100vh;
  width: 80%;
}

.modal-container {
  z-index: 4;
}

.modal-container .nav-btn {
  z-index: 4;
  position: absolute;
  top: 50%;
}

.modal-container .nav-btn img{
  width: 500%;
  height: auto;
}

.modal_image{
  /* width: auto; */
  max-height: 100%;
  object-fit: cover;
  /* height: 100%; */
  max-width: 100%;
  
}

.modal-info {
  width: 100%;
}

.close-button {
  margin-left: 50%;
  transform: translateX(-50%);
}

.wrapper-flexbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  text-align: left;
  align-items: flex-end;
  height: 100%;
}

.modal-image-container {
  height: 100%;
  width: 100%;
  flex-basis: 65%;
}

.modal-info-container {
  flex-basis: 35%;
  padding: 3em 3em 3em 3em;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: rgb(80, 78, 189);
}

.wide-img {
  width: 90%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tall-img {
  width: auto;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-info * {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.modal-name {
  font-family: raleway;
  font-size: 2rem;
  padding-bottom: 1em;
  color: #E5D9F2;
}

.modal-timer {
  font-size: 1.25em;
  font-family: raleway;
}

.modal-min-bid {
  padding-top: 1em;
  font-size: 1.25em;
  font-family: raleway;
}

.coin-icon {
  color: #E5D9F2;
}

.btn-light {
  margin: 0.5em 0;
}

.bid-label {
  font-size: 0.75em;
}

.form-control.bid-input {
  width: 100%;
}