.navbar {
    background-color: rgb(80, 78, 189);
}

.navbar .button{
    background-color: #7371FC
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-sm .navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}

nav .navbar-brand{
    color: #eee !important;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

nav .nav-link {
    color: #eee !important;
}

.navbar-nav {
    font-family: raleway;
}
