

#new-auction-container {
    height: 50vmax;
}

#new-auction-img {
    background: url(../new-auction.png) no-repeat center;
    background-size: cover;
}

.form-control {
    width: 60%;
}

#new-auction-form {
    padding: 2em 0;
}

#upload-thumbnail, #upload-thumbnail * {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#category{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#item-name{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#formDescription{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#formMinBid{
    display: table;
    margin-left: auto;
    margin-right: auto;
}