@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.profile_tabs,
.tab-content,
#toggle {
    font-family: 'Lato', sans-serif;
}

#auction_name_wrapper {
    display: inline-block;
}

#button_auction_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile_tabs_link {
    text-decoration: none;
    color: white;
    border: none;
}

#profile_tabs_button {
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    background-color:rgb(80, 78, 189);
    color: white;
    border-color: rgb(80, 78, 189);
}

#profile_tabs_button:hover {
    color:rgb(80, 78, 189);
    background-color: white;
}

#balance {
    display: inline-block;
}

#profile_tabs_form {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

.profile_tabs  {
    display: inline-block;
    margin-top:10vh;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs a {
    border-radius: 10px;
}   

.nav-tabs a:hover {
    border-radius: 10px;
    background-color: #e0d9f2;
} 


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-radius: 10px;
    background-color: #e0d9f2;
    color:rgb(80, 78, 189);
}

.tabs-wrapper .nav-link {
    color:rgb(80, 78, 189) !important;
}

.profile_tabs {
    border-radius: 10px;
    background-color:#e0d9f2;
    text-align: left;
    width: 30%;
    height: 100%;
    box-shadow: 5px 5px 5px 0px grey;
}

.profile_tabs p {
    border-bottom: 1px solid grey;
}

.profile_tabs .button-edit {
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 8px;
    background-color: rgb(80, 78, 189);
    color: white;
    border-color:rgb(80, 78, 189);
}

.profile_tabs .button-edit:hover {
    color:rgb(80, 78, 189);
    background-color: white;
}

.card {
    border: none;
}

#icon-user {
    text-align: center;
}

.fas, .far {
    margin-right: 10px;
    color:rgb(80, 78, 189);
}

#icon-user {
    font-size: xx-large;
}

#button-edit {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav-tabs .nav-link {
    color: indigo;
}

#table {
    border-radius: 10px;
    margin-top: 10vh;
    width: 45%;
    height: 100%;
    box-shadow: 5px 5px 5px 0px grey;
    transform: translateX(-50%);
    margin-left: 50%;
    background-color: #e0d9f2;
}

.table {
    margin-bottom: 0;
}

.table thead th {
    border-bottom: 1px solid grey;
}

.tbody {
    border-color: grey;
}

.table td,
.table th {
    border-top: none;
}


.card-header { 
    padding: 0;
    margin-bottom: 0; 
    background-color: #E5D9F2;
    border-bottom: none;
}

.card-header:hover { 
    cursor: pointer;
}

#my-auction {
    display: flex;
    flex-direction: inherit;
    background-color: #E5D9F2;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}


#my-auction-info {
    display: flex;
    line-height: 2rem;
    border-bottom: 1px solid grey;
}

#my-auction-info:hover {
    background-color: rgb(176, 174, 247);
}

#my-auction-info h4 {
    font-size: 1rem;
}

.accordion {
    padding: 15px 0 0 0;
}

#toggle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:rgb(55, 53, 128);
    color: white;
    border-bottom: 1px solid grey;
}

.chartjs-render-monitor {
    height: 25rem;
    width: 15rem;
} 

.graph-container{
    height:30rem;
    width:25rem;
}

.total_info_container{
    flex: 6;
}

.info-container{
    flex: 6
}

.myauction_titles{
    background: #E5D9F2;
    color:indigo;
    /* color:white; */
}

.total_info_container{
    width: 90%;
}
.total_info_container p{
    font-size: 1.5rem;
}

.info-container{
    width: 90%;
}
.info-container p{
    font-size: 1.2rem;
}

#table.myAuctionsTable{
    width: 55%;
}

#auction-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#auction-time {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1080px) {
    
    #table.myAuctionsTable{
        width: 100%;
    }


    .graph-container {
        display: none;
    }

}

@media (max-width: 1024px) {
    #table {
        width: 116%;
    }

    .profile_tabs, .tab-content, #toggle {
        width: 66%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 425px) {
    .tab-content>.active {
        display: inline-block;
    }

    .profile_tabs, .tab-content, #toggle {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        transform: none;
    }

    .tab-content #table {
        width: 100%;
        margin-top: 25px;
    }

    #profile_tabs_button {
        margin-left: 10px;
    }

    #toggle {
        display: inline-block;
    }

    .info-container {
        width: 100%;
    }

    .total_info_container {
        width: 100%;
    }

    #toggle h4 {
        font-size: 1.3rem;
    }

    .total_info_container p {
        font-size: 1.2rem;
    }

    .table td:first-child {
        width: 40%;
    }
}

@media (max-width: 375px) {
    .profile_tabs, #toggle {
        width: 89%;
    }

    .tab-content #table {
        width: 100%;
    }

    .info-container p {
        font-size: 1.1rem;
    }
}

@media (max-width: 320px) {    
    .tab-content #table {
        width: 96%;
    }

    #profile_tabs_button {
        padding: 1px;
        font-size: 1rem;
        line-height: 1;
        display: inline-block;
        width: 60px;
    }

    .tab-content>.active {
        width: 100%;
    }

    #toggle h4 {
        font-size: 1.1rem;
    }

    .total_info_container p {
        font-size: 1rem;
    }

    .info-container p {
        font-size: 1rem;
    }
}