#register-form-container{
    min-height: 40rem;
}


#register-img {
    background: url(../images/register.jpg) no-repeat center;
    background-size: cover;
}

#validationCustom01{
    display: table;
    margin-left:auto; 
    margin-right:auto;
}

#validationCustom02{
    display: table;
    margin-left:auto; 
    margin-right:auto;
}

#validationCustom03{
    display: table;
    margin-left:auto; 
    margin-right:auto;
}


#formBasicEmail{
    display: table;
    margin-left:auto; 
    margin-right:auto;
}

#formBasicPassword{
    display: table;
    margin-left:auto; 
    margin-right:auto;
}
#login-form{
    display:flex;
    justify-content: center;
    padding: 0 0 4em 0;
    margin: 0 0 4rem 0;
    min-height: 40rem;
    width: 100%;
}

.login-outer-container{
    height: 100vm;
}

#login-form-inner-container{
    min-height: 100vm;
    min-width: 100%;
    justify-content: flex-start;
}


h2{
    font-size: 3rem;
    padding: 1rem;
}

@media  (max-width: 1024px) {
    #register-form {
        margin-bottom: 0;
    }
}

@media  (max-width: 480px) {
    #register-img {
        background: none;
        background-size: none;
        display: none;
    }

    #register-form {
        margin-bottom: 115px; 
        background-color: rgba(30, 29, 58, 0.92);
        border-radius: 10px;
        padding-bottom: 20px;
    }

    #register-form-container {
        display: flex;
        justify-content: center;
        background: url(../images/register.jpg) no-repeat center;
        background-size: cover;
        color: white;
    }

    #register-form-container .col-6 {
        flex: 0 0 55%;
        max-width: 55%;
    }

    .register h2 {
        font-size: 2.5rem;
    }

    #register-form {
        margin-bottom: 0;
    }
}

@media  (max-width: 414px) {
    #register-form {
        margin-bottom: 0;
    }

    #register-form-container {
        height: 100vh;
    }
}

@media  (max-width: 375px) {
    .register h2 {
        font-size: 2rem;
    }

    #register-form {
        margin-bottom: 0;
    }
}

@media  (max-width: 360px) {
    #register-form {
        margin-bottom: 0;
    }
}

@media  (max-width: 320px) {
    .register .btn {
        padding: .1rem .1rem;
        margin-top: 10px;
    }
}